{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 29.2343202,
    "longitude": 48.0552233,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Asia/Kuwait",
    "external_url": null,
    "internal_url": null,
    "currency": "KWD",
    "country": "KW",
    "language": "en",
    "radius": 100
  }
}